@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: beige;
}

/* phone */
@media (max-width: 768px) {
    input {
        width: 100%;
        margin-left: 0;
        box-sizing: border-box; 
    }

    label {
        width: 100%;
    }

    div {
        text-align: left;
    }

    button {
        width: 100%;
        margin-left: 0;
    }
}